<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUMBER GUESSING GAME</title>
    <link rel = "stylesheet" href="static/style.css">

</head>
<body>
    <div class="header">
        <header>
            <b>Input a Number Between 1 and 10</b>
        </header>
        <hr>
    </div>
    <div class="old">
    <form method="POST">
        <input name="guess" placeholder="Eg:7" class ="input"/>
        <input type="submit" class ="button"  />
    </form>
    <p class="para">
        {{ message }}
    </p> </div>
</body>
</html>